<fieldset class="add-item-block" form="new-note-form" name="item">
    <legend>Item</legend>
    <div class="styled-input wide styled-select">
        <select name="item.ITEM_COUNT.tag" class="item-tag-select" data-required="true">

        </select>

        <label>Tag</label>
    </div>

    <div class="styled-input wide">
        <input name="item.ITEM_COUNT.content" class="item-content-input" type="text"
            placeholder="What have you accomplished?" />
        <label>Content</label>
    </div>

    <div class="styled-input wide submit-wrapper">
        <button type="button" class="btn btn-lrg delete-item-btn">Delete</button>
    </div>
</fieldset>