<fieldset class="add-item-block" form="new-note-form" name="item">
    <legend>Item</legend>
    <div class="styled-input wide styled-select">
        <select name="item.ITEM_COUNT.tag" class="item-tag-select" data-required="true">

        </select>

        <label>Tag</label>
    </div>

    <div class="styled-input wide">
        <input name="item.ITEM_COUNT.content" class="item-content-input" type="text"
            placeholder="What have you accomplished?" autocomplete="off" />
        <label>Content</label>
    </div>

    <button class="close-btn delete-item-btn" type="button">X</button>
</fieldset>