<div class="custom-form">
    <form id="login-form" class="page-content" method="POST">
        <div class="row input-container">
            <div class="styled-input wide">
                <input name="name" type="text" required autocomplete="off" />
                <label>Name</label>
            </div>
            <div class="divider">
                <h2>Github Credentials</h2>
            </div>
            <div class="styled-input wide">
                <input name="githubUsername" type="text" required autocomplete="off" />
                <label>Username</label>
            </div>

            <div class="styled-input wide">
                <input name="githubToken" type="password" required autocomplete="off" />
                <label>Token</label>
            </div>

            <div class="login-help">
                <p>This application use a github repo as a database.</p>
                <p>This is a client side only app, hosted by Netlify. There are no servers at all.</p>
                <p>Feel free to look at the network tab in the chrome dev console. Nothing is travelling anywhere. You
                    own your data. You can even clone the database created and modify the database yourself if you'd
                    like (Link at the bottom of the page when you fill up the form, it needs the name and username).
                </p>
                <p>And the whole app is open source if you want to double check: <a
                        href="https://github.com/leobenkel/daily-achievements"
                        target="_blank">https://github.com/leobenkel/daily-achievements</a></p>
                <p>To connect, choose a 'name', that will be used to create a database for you, which allow you to have
                    several account under the same Github credentials.</p>
                <p>Then, go to the github setting page: <a href="https://github.com/settings/tokens"
                        target="_blank">https://github.com/settings/tokens</a> and create a personal token. You can
                    destroy it when you don't want to use it anymore, since the database is a repo under your name, you
                    won't lose anything. And make sure to only select 'repository' permission
                    so you are safe.</p>
                <p>If you are scared, I personally created a brand new Github account with nothing in it but the
                    database.</p>
                <p>You can then paste you Github username and Github token in the form and press 'connect'.</p>
            </div>

            <div class="submit-wrapper">
                <button type="submit" class="btn btn-lrg submit-btn cta-button"
                    data-callback='onSubmit'>Connect</button>
            </div>

            <div class="error empty">&nbsp;</div>
        </div>
    </form>
    <div class="database-link-container">
        <a class="database-link btn btn-lrg cta-button is-disabled" href="" target="_blank">Open database</a>
    </div>
</div>