<div id="custom-form">
    <form id="login-form" class="page-content" method="POST">
        <div class="row input-container">
            <div class="styled-input wide">
                <input name="name" type="text" required autocomplete="off" />
                <label>Name</label>
            </div>
            <div class="divider">
                <h2>Github Credentials</h2>
            </div>
            <div class="styled-input wide">
                <input name="githubUsername" type="text" required autocomplete="off" />
                <label>Username</label>
            </div>

            <div class="styled-input wide">
                <input name="githubToken" type="password" required autocomplete="off" />
                <label>Token</label>
            </div>

            <div>
                <ul>
                    <li>
                        <p>https://github.com/</p>
                    </li>
                    <li>
                        <p>https://github.com/settings/tokens</p>
                    </li>
                    <li>
                        <p>7ba96e843d95cbb27b887598aa95dfe47293a158</p>
                    </li>
                </ul>
            </div>

            <div class="submit-wrapper">
                <button type="submit" class="btn btn-lrg submit-btn cta-button "
                    data-callback='onSubmit'>Connect</button>
            </div>

            <div class="error empty">&nbsp;</div>
        </div>
    </form>
</div>