<div class="custom-form">
    <form id="new-note-form" class="page-content" method="POST">
        <div class="row input-container">
            <div class="styled-input wide">
                <input name="date" type="text" />
                <label>Date</label>
            </div>

            <div id="item-container">

            </div>

            <div class="styled-input wide submit-wrapper">
                <button id="add-item" type="button" class="btn btn-lrg">Add Item</button>
            </div>

            <div class="submit-wrapper">
                <button type="submit" class="btn btn-lrg submit-btn" disabled>Save</button>
            </div>

            <div class="error empty">&nbsp;</div>
        </div>
    </form>
</div>