<div class="custom-form tag-form">
    <button class="close-btn" type="button">X</button>
    <h2 class="title">Add new Tag</h2>
    <form id="add-tag-form" class="page-content" method="POST">
        <div class="row input-container">
            <div class="styled-input wide">
                <input name="name" type="text" required autocomplete="off" />
                <label>Name</label>
            </div>

            <div class="styled-input wide">
                <input name="color" type="text" placeholder="#00ff00" required autocomplete="off" />
                <label>Color</label>
            </div>

            <div class="submit-wrapper">
                <button type="submit" class="btn btn-lrg">Save</button>
            </div>

            <div class="error empty">&nbsp;</div>
        </div>
    </form>
</div>