/* contact */

@import "vars";

.custom-form {
    max-width: 100%;
    padding: 16px;

    .error {
        color: #e08199;
        text-align: center;
        margin-bottom: 16px;
        margin-top: 16px;
        border-radius: 8px;
        padding: 8px;
        opacity: 1;
        -webkit-transition: all 0.225s ease;
        transition: all 0.225s ease;
        background-color: $background_color;
        filter: brightness(92%);

        &.empty {
            opacity: 0;
            -webkit-user-select: none;
            /* Safari */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE10+/Edge */
            user-select: none;
            /* Standard */
        }
    }

    .divider {
        padding: 0 32px;
    }

    input:focus ~ label,
    textarea:focus ~ label,
    input:valid ~ label,
    textarea:valid ~ label,
    input:placeholder-shown ~ label,
    input:disabled ~ label,
    .styled-select label {
        font-size: 0.75em;
        top: -5px;
        -webkit-transition: all 0.225s ease;
        transition: all 0.225s ease;
    }

    .styled-input {
        width: 293px;
        margin: 1rem 0;
        position: relative;
        border-radius: 8px;
    }

    @media only screen and (max-width: 768px) {
        .styled-input {
            width: 100%;
        }
    }

    .styled-input label {
        padding: 1.3rem 30px 1rem 30px;
        position: absolute;
        top: 10px;
        left: 0;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        pointer-events: none;
    }

    .styled-input.wide {
        width: 650px;
        max-width: 100%;
    }

    input,
    textarea,
    .styled-select {
        padding: 30px;
        border: 0;
        width: 100%;
        font-size: 1rem;
        background-color: $background_color;
        filter: brightness(92%);
        font-weight: bold;
        border-radius: 8px;
    }

    input:disabled {
        cursor: not-allowed;
        filter: brightness(85%);
    }

    textarea {
        resize: vertical;
    }

    input:focus,
    textarea:focus {
        outline: 0;
    }

    input:focus ~ span,
    textarea:focus ~ span {
        width: 100%;
        -webkit-transition: all 0.075s ease;
        transition: all 0.075s ease;
    }

    textarea {
        width: 100%;
        min-height: 15em;
    }

    .input-container {
        width: 650px;
        max-width: 100%;
        margin: 20px auto 25px auto;
    }

    .submit-wrapper {
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -webkit-box;
        /* TWEENER - IE 10 */
        display: -ms-flexbox;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: -webkit-flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        display: flex;
        max-width: 100%;
        flex-basis: auto;
        flex-shrink: 0;
        justify-content: center;
    }

    .btn {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        border: none;
        font: inherit;
        font-size: 1.5em;
        align-self: center;
    }

    .styled-select {
        position: relative;
        padding-top: 36px;
        z-index: 80;

        label {
            top: -6px;
        }

        select {
            display: none; /*hide original SELECT element: */
        }

        .select-selected {
            // background-color: DodgerBlue;

            &:after {
                position: absolute;
                content: "";
                top: 14px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: #fff transparent transparent transparent;
            }

            /* Point the arrow upwards when the select box is open (active): */
            &.select-arrow-active:after {
                border-color: transparent transparent #fff transparent;
                top: 7px;
            }
        }

        /* style the items (options), including the selected item: */
        .select-items div,
        .select-selected {
            // color: #ffffff;
            padding: 8px 16px;
            border: 1px solid transparent;
            // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            cursor: pointer;
        }

        /* Style items (options): */
        .select-items {
            position: absolute;
            background-color: $background-color;
            top: 70px;
            left: 30px;
            z-index: 99;
            border: black 1px solid;
            width: calc(100% - 60px);
        }

        /* Hide the items when the select box is closed: */
        .select-hide {
            display: none;
        }

        .select-items div:hover,
        .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
