#mainContent {
    width: 100%;
    height: 100%;

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        min-width: 100%;
        padding: 32px 16px;

        .calendar-block {
        }

        .recent_notes {
            .items-container {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 100%;

                .item {
                    display: block;
                    width: fit-content;
                    padding: 4px;
                }
            }
        }
    }
}
