$background_color: white;
$text_color: black;

$button_color: $background_color;
$button_background: gray;

$accent_color: $text_color;
$link_color: blue;

$index_on_top: 999;
$index_middle_top: 90;
$index_middle_bottom: 10;
$index_on_bottom: 1;
