.day {
    height: 52px;

    &.day-with-activities {
        position: relative;
        padding: 0;
        border: 0;

        * {
            pointer-events: none;
        }

        .activities-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            padding: 0 0 1px 1px;

            .activity {
                flex: 1 1 33%;
                border-right: 1px solid white;
                margin-top: 1px;
            }
        }

        .day-number {
            float: left;
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: center;

            .number-background {
                background-color: white;
                padding: 4px;
                border-radius: 50%;
            }
        }

        &.is-selected {
            background-color: #29655f !important;
            .activities-container {
                .activity {
                    border-right: 1px solid #29655f;
                }
            }

            .day-number {
                .number-background {
                    background-color: #29655f;
                    color: white;
                }
            }
        }
    }
}
